<!DOCTYPE html>
<html>
<head>
  <title>Rottenhuevos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">RottenHuevos</a>
        <a class="brand" href="#"><h6>Will you shit yourself?</h6></a>
      </div>
    </div>
  </div>
  <div class="container">
     <div class="content">
      <br/><br/><br/><br/><br/><br/>  
       <%= yield %>
     </div>
  </div>
</body>
</html>
